<!DOCTYPE html>
<html>
<head>
    <title>AI Forgery Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>🧠 Forgery Detector</h1>

    <form method="POST" enctype="multipart/form-data" id="uploadForm">
        <div class="drop-area" id="dropArea">
            <p>Drag & Drop Image or Click</p>
            <input type="file" name="file" id="fileInput" required>
        </div>
        <button type="submit">Analyze</button>
    </form>

    <div id="loading" class="loading">Analyzing...</div>

    {% if image_path %}
        <img src="{{ image_path }}">
    {% endif %}

    {% if result %}
        <div class="result 
            {% if 'Original' in result %}auth{% else %}fake{% endif %}">
            {{ result }}
        </div>
    {% endif %}
</div>

<script>
const dropArea = document.getElementById("dropArea");
const fileInput = document.getElementById("fileInput");
const form = document.getElementById("uploadForm");
const loading = document.getElementById("loading");

dropArea.addEventListener("click", () => fileInput.click());

dropArea.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropArea.classList.add("hover");
});

dropArea.addEventListener("dragleave", () => {
    dropArea.classList.remove("hover");
});

dropArea.addEventListener("drop", (e) => {
    e.preventDefault();
    fileInput.files = e.dataTransfer.files;
    dropArea.classList.remove("hover");
});

form.addEventListener("submit", () => {
    loading.style.display = "block";
});
</script>

</body>
</html>